{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}

{{block header}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <div  style="background-color: #d2e8fb; color:#5b5b5b;">
            <div class="container max900">
                <div id="actor_image" class="third compressible" style="text-align: center">
                    <img width="80%" style="border-radius: 5px;" v-bind:src=poster /> <!--actor's picture-->
                </div>
                <div id="actor_bio" class="twothirds compressible" style="padding: 20px">
                    <div class="container">
                        <h3 class="third" v-html="name"></h3>
                        <div class="like_button quarter" v-on:click="toggle_like_button()">
                            <i v-if="is_liked" id="actor_like" class="fa fa-heart"></i>
                            <i v-if="!is_liked" id="actor_unlike" class="fa fa-heart-o"></i>
                        </div>
                    </div>
                    <br>
                    <h5>Biography</h5>
                    <p v-html="biography"></p>
                </div>
            </div>
        </div>
        <div style="background-color: #f3f3f3; color:#5b5b5b; padding-top: 20px">
            <div class="container max900">
                <div class="third compressible" style="padding-left: 40px">
                    <h4>Personal Info</h4>
                    <br>
                    <h5>Gender</h5>
                    <p id="gender" v-html="gender"></p>
                    <h5>Birthday</h5>
                    <p id="birthday" v-html="birthday"></p>
                    <h5 v-if="deathday != null">Death</h5>
                    <p v-if="deathday != null" id="deathday" v-html="deathday"></p>
                    <h5>Place of Birth</h5>
                    <p id="birth_place" v-html="place_of_birth"></p>
                </div>
                <div id="actor_work" class="twothirds compressible" style="padding-left: 20px">
                    <h4>Known For</h4>
                    <br>
                    <div>
                        <ul class="container"> <!--vue for loop statement here-->
                            <li class="third compressible" style="padding-right: 5px !important; padding-bottom: 20px" v-for="movie in known_for">
                                <img style="width: 70%; height: 70%; border-radius: 5px" v-bind:src="movie.poster"
                                     v-on:click="go_to_movie(movie.id, movie.type)"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script src="{{=URL('static', 'js/default_actor.js')}}"></script>