{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script>
        // URLs go here
        var add_forum_post_url = "{{=URL('api', 'add_forum_post', user_signature=True)}}";
        var get_forum_posts_url = "{{=URL('api', 'get_forum_posts')}}";
        var delete_forum_post_url = "{{=URL('api', 'delete_forum_post', user_signature=True)}}";
        var add_movie_url = "{{=URL('api', 'add_movie')}}";
        var add_show_url = "{{=URL('api', 'add_show', user_signature=True)}}";
        var add_person_url = "{{=URL('api', 'add_person', user_signature=True)}}";
        var del_movie_url = "{{=URL('api', 'del_movie')}}";
        var get_movies_url = "{{=URL('api', 'get_movies')}}";
        
    </script>
{{end}}

{{block header}}
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <div id="my_content" style="display: none;">
            <div id="my_movies" style="background-color: #d2e8fb;">
                <div class="container padded max900">
                    <h4>My Movies</h4>
                    <div class="padded" style="height: auto; white-space: nowrap; overflow: auto; overflow-y: hidden;">
                        <span v-for="movie in movies" style="width: auto; height: auto; padding-right: 10px;">
                            <img style="width: 185px; height: 275px; border-radius: 5px;" v-bind:src="movie.poster" v-on:click="go_to_media(movie)"/>
                        </span>
                    </div>
                    <div v-if="movies.length == 0" style="height: 300px; text-align: center; padding-top: 110px">
                        <p>You don't have any favourite movies!</p>
                    </div>
                </div>
            </div>
            <div id="my_show" style="background-color: #f6f6f6;">
                <div class="container padded max900">
                    <h4>My Shows</h4>
                    <div class="padded" style="height: auto; white-space: nowrap; overflow: auto; overflow-y: hidden;">
                        <span v-for="show in shows" style="width: auto; height: auto; padding-right: 10px;">
                            <img style="width: 185px; height: 275px; border-radius: 5px;" v-bind:src="show.poster" v-on:click="go_to_media(show)"/>
                        </span>
                    </div>
                    <div v-if="shows.length == 0" style="height: 300px; text-align: center; padding-top: 110px">
                        <p>You don't have any favourite shows!</p>
                    </div>
                </div>
            </div>
            <div id="my_people" style="background-color: #d2e8fb;">
                <div class="container padded max900">
                    <h4>My People</h4>
                    <div class="padded" style="height: auto; white-space: nowrap; overflow: auto; overflow-y: hidden;">
                        <span v-for="person in people" style="width: auto; height: auto; padding-right: 10px;">
                            <img style="width: 185px; height: 275px; border-radius: 5px" v-bind:src="person.poster" v-on:click="go_to_media(person)"/>
                        </span>
                    </div>
                    <div v-if="people.length == 0" style="height: 300px; text-align: center; padding-top: 110px">
                        <p>You don't have any favourite people!</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="homepage" style="display: none;">
            <div class="home_container" style="background-color: #d2e8fb;">
                <div id="welcome_message" class="padded max900">
                    <p style="font-size: 20px; text-align: center;">What are you currently watching? <a href="#">Join us</a> and take part in discussions about your favorite movies, tv shows, and actors! Check out some of the current popular movies below:</p>
                </div>
                        <!-- Slideshow container -->
                <div class="slideshow-container">
                  <!-- Full-width images with number and caption text -->
                  <div class="mySlides fade">
                    <img class="img" src="http://cinemavine.com/wp-content/uploads/2016/11/la-la-land-movie-trailer-image-still-6.png" style="width:100%">
                    <div class="text">La La Land</div>
                  </div>

                  <div class="mySlides fade">
                    <img class="img" src="http://cinemavine.com/wp-content/uploads/2015/08/her-spike-jonze-movie-iamges-joaquin-phoenix4.jpg" style="width:100%">
                    <div class="text">Her</div>
                  </div>

                  <div class="mySlides fade">
                    <img class="img" src="https://theplaylist.net/wp-content/uploads/2017/12/Jennifer-Lawrence-Red-Sparrow-1200x520.jpg" style="width:100%">
                    <div class="text">Red Sparrow</div>
                  </div>

                <div class="mySlides fade">
                    <img class="img" src="http://cinemavine.com/wp-content/uploads/2017/09/tomb-raider-alicia-vikander-13.png" style="width:100%">
                    <div class="text">Tomb Raider</div>
                  </div>

                </div>
                <br>

                <hr width="850">
                <div class="container max900" id="about" style="padding-left: 60px; padding-right: 50px">
                    <div class="third">
                        <h5 style="text-align: center;">Follow your favorites</h5>
                        <p style="font-size: 14px;">Keep track of all of your favorite movies, tv shows and actors. Add them to your homepage by liking them.</p>
                    </div>
                    <div class="third">
                        <h5 style="text-align: center;">Give ratings</h5>
                        <p style="font-size: 14px;">Are you a movie and tv show critic? Now you can join in with other avid moviegoers and binge-watcher and rate them out of five stars. </p>
                    </div>
                    <div class="third">
                        <h5 style="text-align: center;">Join in discussions</h5>
                        <p style="font-size: 14px;">Do you have more opinions on movies and tv shows than just rating them? Now you can join in discussions and share your thoughts with other members.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>



