{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}

{{block header}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <div style="background-color: #d2e8fb; color:#5b5b5b; padding:30px">
            <div class="container padded max900">
                <div class="quarter compressible" style="text-align: center">
                    <h5 style="text-align: center; padding-left: 10px;" v-html="title"></h5>
                </div>
                <div id="star_rating" style="text-align: center" class="quarter compressible">
                    <h5>Our rating</h5>
                    <div id="star" v-on:mouseout="mouse_out()">
                        <span v-on:mouseover="mouse_over(idx)"
                              v-on:click="set_stars(idx)"
                              v-for="idx in star_indices">
                            <i v-if="idx <= num_stars_display" class="fa fa-star"></i>
                            <i v-if="idx > num_stars_display" class="fa fa-star-o"></i>
                        </span>
                    </div>
                </div>
                <div class="quarter compressible" style="text-align: center">
                    <h5>TheMovieDB Rating</h5>
                    <h4 style="text-align: center" v-html="rating"></h4>
                </div>
                <div class="quarter compressible" style="text-align: center">
                    <div class="like_button" v-on:click="toggle_like_button()">
                        <i id="media_like" v-if="is_liked" class="fa fa-heart"></i>
                        <i id="media_unlike" v-if="!is_liked" class="fa fa-heart-o"></i>
                    </div>
                </div>
            </div>
        </div>
    {{end}}
        <div id="media_content">
            <div style="background-color: #f6f6f6;">
                <div id="media" class="container compressible max900">
                    <div id="movie_poster" class="third">
                        <img width="100%" style="border-radius: 5px; position: relative;" v-bind:src=poster >
                    </div>
                    <div id="trailer" class="twothirds" style="max-width:1000px; position: relative">
                        <img style="position:absolute; width: 97%" src="https://imgur.com/79HZjma.jpg">
                        <iframe style="position: relative;" width="100%" height="100%" v-bind:src=trailer frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div id="info_bar" style="background-color: #d2e8fb;">
                <div class="container padded max900">
                    <div class="info container" style="text-align: center">
                        <span class="third" v-html="runtime"></span><span class="third" v-html="genre"></span><span class="third" v-html="year"></span>
                    </div>
                </div>
            </div>
            <div id="movie_description" style="background-color: #f6f6f6;">
                <div class="container padded max900">
                    <div class="description" v-html="plot"></div>
                </div>
            </div>
            <div id="forum" style="background-color: #d2e8fb;" v-if="logged_in || forum_posts.length > 0">
                <div class="container padded max900">
                    <div class="forum_box">
                        <p>Forum</p>
                        <div>
                            <input v-if="logged_in" class="form-control string" type="text" v-model="new_post_content" placeholder="New Forum Post"
                                   onkeypress="if (event.keyCode === 13) {document.getElementById('post_button').click(); return false;}" onsubmit="return false;"/>
                            <button v-if="logged_in" id="post_button" class="small_margin" v-on:click="add_forum_post">Post</button>
                            <div v-for="post in forum_posts">
                                <div class="container forum_post">    
                                    <div class="threequarters" style="padding-left: 10px">
                                        <p id="post_user" class="post_info"><b>${post.username}</b></p>
                                        <p id="post_content">${post.post_content}</p>
                                        <p class="post_info">${post.created_on}</p>
                                    </div>
                                    <span style="width: auto; float: right; padding-right: 10px">
                                        <i id="delete_post" v-if="post.show_delete" class="fa fa-trash" v-on:click="delete_forum_post(post.key)"></i>
                                    </span>
                                </div>
                                <hr style="height:1px;border:none;color:#ccc;background-color:#ccc;"  width="1100px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="{{=URL('static', 'js/default_media.js')}}"></script>