{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>

    <script>
        var search_url = "{{=URL('api', 'search_database')}}";
    </script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <div id="my_results" style="background-color: #d2e8fb;">
            <div class="center container padded max900">
                <h1>404 Not Found</h1>
                <h5>The page you requested does not exist</h5>
            </div>
        </div>
    </div>
</div>
<script src="{{=URL('static', 'js/default_search_results.js')}}"></script>

