{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}
{{block header}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <div class="media_container" style="background-color: #d2e8fb; padding: 20px;">

            <div id="welcome_message">
                {{if auth.user is not None:}}
                <h5 style="font-size: 20px; text-align: center;">Welcome! Take a look at what ${type_text} we've been watching...</h5><br>
                {{else:}}
                <h5 style="font-size: 20px; text-align: center;">Popular ${type_text} this week</h5><br>
                {{pass}}
            </div>

            <div>
                <ul class="container max900">
                    <li class="padded quarter compressible" style="padding-bottom: 20px" v-for="result in results">
                        <img style="width: auto; height: 380px; border-radius: 5px;" v-bind:src="result.poster"
                             v-on:click="go_to_result(result.id)"/>
                        <p id="result_title" style="text-align: center; vertical-align: middle; position: relative;"
                           v-on:click="go_to_result(result.id)">${result.title}
                       </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<script src="{{=URL('static', 'js/default_popular.js')}}"></script>