{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <div id="my_results" style="background-color: #d2e8fb;">
            <div class="container padded max900">
                <h4>Search Results for: "${stored_search_content}"</h4>
                <div v-if="results.length <= 0">
                    <p>No results found.</p>
                </div>
                <div v-else="results.length > 0">
                    <ul class="container max900"> <!--vue for loop statement here-->
                        <li class="quarter" style="padding-bottom: 20px" v-for="result in results">
                            <img style="width: auto; height: 370px; border-radius: 5px;" v-bind:src="result.poster"
                                 v-on:click="go_to_result(result.id)"/>
                            <p id="result_title" style="text-align: center; vertical-align: middle; position: relative;" v-on:click="go_to_result(result.id)">${result.title}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script src="{{=URL('static', 'js/default_search_results.js')}}"></script>

