{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <div class="padded max900" style="height: 70px; background-color: #d2e8fb;">
            <h2 v-if="signing_up">
                Sign Up
            </h2>
            <h2 v-if="!signing_up">
                Log In
            </h2>
        </div>
        <div style="height: 850px; background-color: #d2e8fb;">
            <div class="padded max900">
                <div id="web2py_user_form" class="col-lg-12">
                    <input type="email" v-model="email" id="txtEmail" class="form-control" placeholder="Enter email"/>
                    <input type="text" v-model="username" id="txtUsername" v-if="signing_up" class="form-control" placeholder="Enter username"/>
                    <input type="password" v-model="password" id="txtPassword" class="form-control" placeholder="Enter password" />
                    <input type="password" v-model="passwordConfirm" v-if="signing_up" id="txtPasswordConfirm" class="form-control" placeholder="Confirm password"/>
                    <div class="invalid-feedback" v-if="showError" v-html="errorMsg" id="errormsg" style="display: block; padding-bottom: 10px"></div>
                    <button class='btn btn-default' v-on:click="login()" id="btnLogin" >Log in</button>
                    <button class='btn btn-default' v-on:click="sign_up()" id="btnSignUp" >Sign Up</button>
                    <button class='btn btn-default' v-on:click="login_with_google()" id="withGoogle" style="background-color: #db3236; color: white"><i class="fa fa-google"></i>
                    Login with Google </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{=URL('static', 'js/default_login.js')}}"></script>


{{block page_js}}
{{end page_js}}
