<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDO8eWxXstUgVCSf54yftzRxdcmpyewhYo",
        authDomain: "cmps-183-d6150.firebaseapp.com",
        databaseURL: "https://cmps-183-d6150.firebaseio.com",
        projectId: "cmps-183-d6150",
        storageBucket: "cmps-183-d6150.appspot.com",
        messagingSenderId: "1028450050563"
      };
      firebase.initializeApp(config);
    </script>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/stupid.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
  </head>
  <body>
    <!-- Navbar ======================================= -->
    <nav id="navigation" class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{=URL('default', 'index')}}">iUdex</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{=URL('default', 'popular', vars={'type': 'movies'})}}">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{=URL('default', 'popular', vars={'type': 'shows'})}}">TV Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{=URL('default', 'popular', vars={'type': 'people'})}}">People</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" id="sign_in">
          <input class="form-control mr-sm-2" type="text" id="search_content" placeholder="Search"
                 onkeypress="if (event.keyCode === 13) {search_redirect(); return false;}" onsubmit="return false;">
          <div class="radio_buttons container">
            <input type="radio" name="search" id="movie_filter" checked="checked">Movies
            <input type="radio" name="search" id="show_filter">TV Shows
            <input type="radio" name="search" id="people_filter">People
          </div>
          <button id="search_button" class="btn btn-secondary my-2 my-sm-0" type="button" onclick="search_redirect()">Search</button>
          <script>
              function search_redirect() {
                  console.log('search redirect called');
                  var search_content =  document.getElementById('search_content').value;
                  var filter = null;
                  if (document.getElementById("movie_filter").checked) {
                      filter = "movies";
                  } else if (document.getElementById("show_filter").checked) {
                      filter = "shows";
                  } else if (document.getElementById("people_filter").checked) {
                      filter = "people";
                  }
                  if (search_content != null && search_content.length > 0) {
                      var c = search_content.trim().replace(/ /g,"+");
                      if (c.length > 0) {
                          localStorage.search_content = c;
                          window.location.href = "search_results?f=" + filter + "&" + "q=" + c;
                      }
                  }
              }
          </script>
        </form>
        <div id="login_button_div">
            <a id="login_button" class="btn btn-info my-2 my-sm-0" href="{{=URL('default', 'user')}}">Login</a>
            <a id="logout_button" class="btn btn-info my-2 my-sm-0" style="display: none"
               onclick="logOut()">Log Out</a>
            <script>
              firebase.auth().onAuthStateChanged(function(user) {
                  if (user) {
                      document.getElementById('login_button').style.display = "none";
                      document.getElementById('logout_button').style.display = "block";
                      // $('#logout_button').show();
                  }
              });

              function logOut() {
                  if (window.confirm("Are you sure you want to log out?")) {
                      firebase.auth().signOut();
                      document.getElementById('logout_button').style.display = "none";
                      document.getElementById('login_button').style.display = "block";
                      window.location.href="../default/user/login";
                  }
              }
            </script>
        </div>

      </div>
    </nav>

    <!-- Masthead ===================================== -->    
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div>
        {{block center}}
        {{include}}
        {{end}}
        {{=response.toolbar() if configuration.get('app.toolbar') else ''}}
    </div>
    {{block footer}} <!-- this is default footer -->
    <footer class="footer container-fluid">
        <div class="padded max900 container">
                    <div class="copyright half">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>

            <div class="attribution half">
            <img style="width: 30px; height: auto;" class="attribution" src="https://www.themoviedb.org/static_cache/v4/logos/208x226-stacked-green-9484383bd9853615c113f020def5cbe27f6d08a84ff834f41371f223ebad4a3c.png" alt="TMDb attribution"/>
                This product uses the TMDb API but is not endorsed or certified by TMDb.
            </div>
          </div>
        </div>
    </footer>
    {{end}}
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
  </body>
</html>