.find {
  margin-left: 100px;
}

.radio_buttons {
  margin: 8px;
  margin-right: 15px;
}
.forum_post {
  border: 10px;
  padding: 10px;
  margin: 10px;
  /*background-color: #a5d5ff;*/
}

.post_info {
  font-size: 10px;
}

.small_margin {
    margin: 5px;
}

#navigation{
    background-color: #e1e1e1 !important;
}

#login_button, #logout_button{
    background-color: #d2e8fb !important;
    border-color: #d2e8fb;
    color: #5b5b5b;
}
#login_button_div{
    margin-left: 10px;
    line-height: 0px;
}
p, h1, h2, h6, div{ margin: 0 ; }
#media{
    display:flex;
    margin-left: 20px;
}
div.info_bar{
    padding: 10px;
}
span{
    display: inline-block;
    width:20%;
    text-align:center;
}
#synopsis{
    font-size: 16px;
}
#star_rating{
    font-size: 1.25em;
}
#content_container{
    margin: 0 !important;
}
.w2p-form-button{
    margin-left: 5px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.img {
    position: relative;
    width:  1000px;
    height: 400px;
    object-fit: cover;
}
.like_button{
    background-color: #d2e8fb;
}
#star{
    display: inline-block;
    width: 50%;
    text-align:center;
}
body{
    background-color: #d2e8fb !important;
}
#actor_like, #actor_unlike, #media_like, #media_unlike {
    font-size: 32px;
}
#result_title:hover{
    text-decoration: underline;
    color: #67779c;
    cursor: pointer;
}
#txtEmail, #txtUsername, #txtPasswordConfirm, #txtPassword{
    margin-bottom: 10px;
}
#post_user{
    font-size: 18px;
}
#post_content{
    font-size: 16px;
    padding-left: 20px;
}